<html>
<head>
	<title>Criação de Paciente</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-sm"></div>
   	
	<form method="POST" action="/instituicao">
	<div class="col-sm">
		<h1>Cadastro Instituição</h1>
		{{ instituicao.csrf_token }}
		<div class="form-group">
			<label> Id da Instituição </label>
			</br>
			{{ instituicao.id (size=50, class="form-control", placeholder="Identificador da Instituição") }} 
			
			{% if instituicao.errors.id %}
			<div class=""alert alert-danger" role="alert">
				{{ instituicao.errors.id }}
			</div>
			{%endif%}
			
		</div>
		<div class="form-group">
			<label> Nome Instituição</label>
			</br>
	    		{{ instituicao.nome (class="form-control", placeholder="Nome da Instituição")}}
	    		{% if instituicao.errors.nome %}
			<div class=""alert alert-danger" role="alert">
				{{ instituicao.errors.nome }}
			</div>
			{%endif%}
	    	</div>   	
	    		
	    	<input type="submit" value="Criar">
	    	<a href="{{url_for('index')}}"><input type="button" value="Voltar"></a>
	</div>
	</form>
    <div class="col-sm"></div>
    </div>
 </div>
	
</body>
</html>
