<html>
<head>
	<title>Sucesso</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-sm"></div>
   	
	<div class="col-sm">
		<h1>Sucesso</h1>
		<div class="form-group">
			<label> Transação criada: {{ tx_id }} </label>
			<a href=/download/{{link}}>Download Chaves</a>
			
		</div>
		   	
	    	<a href="{{url_for('index')}}"><input type="button" value="Voltar"></a>
	</div>

    <div class="col-sm"></div>
    </div>
 </div>
	
</body>
</html>
